FetchSFData.js
[{"id":"90a60e32.f6bba","type":"inject","z":"a940b982.61652","name":"Trigger every 24 hours","topic":"trigger","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":165.0833282470703,"y":111.99999237060547,"wires":[["bff018ac.d713c"]]},{"id":"bff018ac.d713c","type":"http request","z":"a940b982.61652","name":"Web Request to DataSF","method":"GET","ret":"obj","url":"https://data.sfgov.org/resource/sci7-7q9i.json","tls":"","x":315.3689880371094,"y":210.90475463867188,"wires":[["c91ea969.cd1d3"]]},{"id":"64382839.8bc318","type":"debug","z":"a940b982.61652","name":"Debug","active":true,"console":"true","complete":"payload","x":797.7581787109375,"y":349.0278015136719,"wires":[]},{"id":"c91ea969.cd1d3","type":"function","z":"a940b982.61652","name":"Filter for Free Clinic","func":"var msgs = [];\nfor (var i = 0; i< msg.payload.length; i++) {\n  if(msg.payload[i].facility_type==\"Free Clinic\")\n    {\n        var data =  msg.payload[i].facility_name + '\\n' + msg.payload[i].location_address+ ','+\n        msg.payload[i].location_city + ' ' + msg.payload[i].location_state;\n        msgs.push(data);\n    }\n     \n}\nvar obj = {payload: msgs.join(\"\\n\\n\")};\nreturn obj","outputs":1,"noerr":0,"x":474.9007873535156,"y":284.74188232421875,"wires":[["aa05fc1c.e9454"]]},{"id":"32721455.c46d84","type":"e-mail","z":"a940b982.61652","server":"smtp.gmail.com","port":"465","secure":true,"name":"anojalax@gmail.com","dname":"Send Email to Anoja","x":825.83349609375,"y":402.4999084472656,"wires":[]},{"id":"aa05fc1c.e9454","type":"template","z":"a940b982.61652","name":"Write Email","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nWelcome to Welfare for All!\n\nYou can find the details of Free Clinical checkup around your area.\n\n{{    payload}}\n\n\nThank you for using Welfare for All.","x":614.4047241210938,"y":350.00006103515625,"wires":[["64382839.8bc318"]]}]
