YelpAPI_For_Contact.js
[{"id":"c8879b8e.1357d","type":"http request","z":"8518057.2f99378","name":"API Request to Yelp","method":"GET","ret":"obj","url":"https://api.yelp.com/v3/businesses/search?term=free clinic&location=san francisco","tls":"","x":368.03570556640625,"y":221.08334350585938,"wires":[["4771f79a.6ea348"]]},{"id":"fe824325.8338e","type":"inject","z":"8518057.2f99378","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":75,"y":85.22616577148438,"wires":[["704a128d.8c0abc"]]},{"id":"704a128d.8c0abc","type":"function","z":"8518057.2f99378","name":"set payload and headers","func":"msg.payload = \"data to post\";\nmsg.headers = {};\n//msg.qs['term']= 'free clinic';\n//msg.qs['location']= 'san francisco';\nmsg.headers['postman-token'] = 'dd6dc66f-42f9-dbe7-bffb-aa994f2d06a0';\nmsg.headers['cache-control'] = 'no-cache';\nmsg.headers['authorization'] = 'Bearer nTcMwL6kT9Xv0-KdYTe8HC_NzlBNQAYeaacLjQnctdYFSZVL3qEwb_7XAOr2n-LaQv3_rB6AKxT3ZnQ00wtT0JqV72A_ojPEAcTeCWSiWMAb_g4Gbdh-terALalhWXYx';\n\nreturn msg;\n\n/*\nvar options = { method: 'GET',\n  url: 'https://api.yelp.com/v3/businesses/search',\n  qs: { term: 'free clinic', location: 'san francisco' },\n  headers: \n   { 'postman-token': 'dd6dc66f-42f9-dbe7-bffb-aa994f2d06a0',\n     'cache-control': 'no-cache',\n     authorization: 'Bearer nTcMwL6kT9Xv0-KdYTe8HC_NzlBNQAYeaacLjQnctdYFSZVL3qEwb_7XAOr2n-LaQv3_rB6AKxT3ZnQ00wtT0JqV72A_ojPEAcTeCWSiWMAb_g4Gbdh-terALalhWXYx' } };\n\n\nreturn options;\n*/","outputs":1,"noerr":0,"x":214.99996948242188,"y":147.22616577148438,"wires":[["c8879b8e.1357d"]]},{"id":"ff01da13.bb62e8","type":"debug","z":"8518057.2f99378","name":"Display","active":true,"console":"false","complete":"payload","x":619,"y":385.2261657714844,"wires":[]},{"id":"4771f79a.6ea348","type":"function","z":"8518057.2f99378","name":"Get Contact Details and Distance","func":"var msgs = [];\nvar round_miles_to = 5;\nfor (var i = 0; i< msg.payload.businesses.length; i++) {\n  //if(msg.payload[i].facility_type==\"Free Clinic\")\n  var dist = (0.000621371 * msg.payload.businesses[i].distance).toFixed(2);\n  var is_closed = Boolean(msg.payload.businesses[i].is_closed);\n  if (!is_closed && dist<5)\n    {\n        var data =  msg.payload.businesses[i].name  +'\\nPhone: '+ msg.payload.businesses[i].phone \n        + '\\nDistance: ' + dist + ' miles';\n        msgs.push(data);\n    }\n}\nvar obj = {payload: msgs.join(\"\\n\\n\")};\nreturn obj","outputs":1,"noerr":0,"x":515,"y":312.9761657714844,"wires":[["ff01da13.bb62e8"]]}]
